/* Estilos para el formulario de resultados */
.result-form .form-control {
  background-color: #f0f0f0; /* Color de fondo más claro */
  color: #555; /* Texto más claro */
  cursor: not-allowed; /* No permite interacciones */
  border-color: #ddd; /* Borde más suave */
}

.results {
  margin-top: 20px;
  padding: 15px;
  background-color: #e9f7fc;
  border-radius: 4px;
}
