<div *ngIf="resultados.length > 0" class="results">
  <h3>Resultados:</h3>
  <form class="result-form">
    <div class="form-group">
      <label for="tipoDocumentoResult">Tipo de Documento:</label>
      <input
        type="text"
        id="tipoDocumentoResult"
        [value]="resultados[0].tipoDocumento"
        disabled
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="numeroDocumentoResult">Número de Documento:</label>
      <input
        type="number"
        id="numeroDocumentoResult"
        [value]="resultados[0].numeroDocumento"
        disabled
        class="form-control"
      />
    </div>
  </form>
</div>

<ng-template #noResults>
  <p class="no-results">
    No se encontraron resultados para los criterios especificados.
  </p>
</ng-template>
